@model AppFacturacion.Models.Detalles

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Detalles</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioUnitario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioUnitario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Productos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Productos.Producto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Facturas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Facturas.NombreCliente)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.idDetalle">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
